@model FitnessProject.Models.Info
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from demo.lorvent.com/fitness/admin_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Jul 2019 10:14:40 GMT -->
<head>
    <title>Login | Fit2Go Admin Template</title>
    <link rel="shortcut icon" href="~/Public/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page level styles-->
    <link href="~/Public/vendors/iCheck/skins/all.css" rel="stylesheet" type="text/css">
    <link type="text/css" href="~/Public/vendors/bootstrapvalidator/dist/css/bootstrapValidator.css" rel="stylesheet" />
    <link href="~/Public/css/custom_css/admin-login.css" rel="stylesheet" type="text/css">
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- end of page level styles-->
</head>

<body>
    <div class="container">
        <div class="full-content-center">
            <div class="box bounceInLeft animated">
                <img src="~/Public/img/logo.png" class="logo" alt="image not found">
                <h3 class="text-center">Admin Log In</h3>

                @using (Html.BeginForm("Login", "Security", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="sr-only"></label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                    <div class="form-group">
                        <label class="sr-only"></label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                    </div>
                    <div class="checkbox text-left">
                        <label>
                            <input type="checkbox"> Remember Password
                        </label>
                    </div>
                    <input type="submit" class="btn btn-block btn-warning" value="Log In">

                }
                <p class="text-right"><a href="user_forgot.html" class="text-warning forgot_color">Forgot Password?</a></p>
            </div>
        </div>
    </div>
    <!-- global js -->
    <script src="~/Public/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/Public/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- end of global js -->
    <!-- begining of page level js -->
    <script src="~/Public/vendors/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Public/vendors/bootstrapvalidator/dist/js/bootstrapValidator.js" type="text/javascript"></script>
    <script src="~/Public/js/custom_js/login1.js" type="text/javascript"></script>
    <!-- end of page level js -->
</body>


<!-- Mirrored from demo.lorvent.com/fitness/admin_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Jul 2019 10:14:40 GMT -->
</html>

